
/* -- header -- */

.skin-blue .main-header .logo {
    color: #000; /* para theme 3 */
    position: fixed; /* fixar parte do header */
}

/* -- sidebar -- */

.skin-blue .main-sidebar .sidebar .sidebar-menu a {
    /* menuItem com margem*/
    margin-bottom: 5px; 
}

.left-side, .main-sidebar { 
    /* deixar a box do sidebar fixa */
    position: fixed; 
}


.bg-navy {
    background-color: #1b3577 !important;
}


/* -- Box -- */

.box-header .box-title, .panel-title{
    font-weight: bold; 
}

#title{
    font-size: 14pt; 
    font-weight: bold; 
    color: #2C65A1
}

