
/* -- header -- */

.skin-blue .main-header .logo {
    position: fixed; /* fixar parte do header */
}

/* -- sidebar -- */

.skin-blue .main-sidebar .sidebar .sidebar-menu a {
    /* menuItem com margem*/
    margin-bottom: 5px; 
}

.left-side, .main-sidebar { 
    /* deixar a box do sidebar fixa */
    position: fixed; 
}

/* -- Box -- */

.box-header .box-title, .panel-title{
    font-weight: bold; 
}

#title{
    font-size: 14pt; 
    font-weight: bold; 
    color: #2C65A1
}

#sub-title{
    font-weight: bold; 
    text-align: center;
}

